.layout {
    display: grid;
    grid-template-columns: 250px 1fr; /* 左250px、右は残り全部 */
    gap: 20px;
    background-color: #cfeef3;
}

.main {
    align-items: flex-start;
}

.sidebar {
    position: sticky;
    margin-left: 30px;
    top: 90px; /* ← ヘッダーの高さに合わせて調整 */
    height: calc(100vh - 80px);
    overflow-y: auto; /* ← カテゴリが多い場合はスクロール */
    min-width: 200px;
    max-width: 25%;
    min-height: 500px; /* 最小高さを設定（数値はお好みで調整してください） */
    height: fit-content; /* 中身の量に合わせて自動拡張 */
    background-color: #fff;
    color: #58becf;
    padding: 20px;
    border-radius: 5px;
}

.content {
    padding: 0 20px;
}

.category ul {
    list-style: none;
    padding-left: 0;
}

.search-form {
    position: sticky;
    top: 80px; /* ヘッダーの高さに合わせる */
    z-index: 10;
    background-color: #cfeef3; /* 背景色を付けて重なり防止 */
    padding: 10px 0;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.search-bar input {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
}

.search-btn {
    background-color: #3fd9f5;
    color: #fff;
    font-size: 18px;
    height: 40px;
    width: 15%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #2bb8d8;
}

.tabs {
    position: sticky;
    top: calc(80px + 60px); /* ← 検索バーの高さに合わせて調整 */
    z-index: 9;
    background-color: #cfeef3;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    color: #8ea7b2;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.tabs span {
    cursor: pointer;
    font-weight: bold;
}

.tabs .active {
    color: #3fd9f5;
}

.tag-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin: 20px 0;
}

.tag-item {
    background-color: #e3f7fa;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.tag-item input {
    transform: scale(1.2);
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

.post-card {
    background-color: #fff;
    padding: 5% 10%;
}

.image {
    background-color: #cfeef3;
    height: 200px;
    margin-bottom: 10px;
}

.info p {
    margin: 5px;
}
.info h3 {
    margin: 5px;
}

.date {
    font-size: 14px;
    padding-top: 15px;
}
